@font-face {
    font-family: "courier cyr";
    src: url("./fonts/couriercyrps.ttf");
}

* { 
    margin: 0;
    padding: 0;
    --main-bg-color: #f5f5f5;
    font-family: "courier cyr","Josefin Sans", serif, sans-serif, Verdana, Geneva, Tahoma;
    font-weight: normal;
}

body {
    height: 100vh;
}

.page-container {
    box-sizing: border-box;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
    gap: 40px;
    padding: 40px;
}
