.todo-container {
    grid-column: 2 / 3;
    background-color: var(--main-bg-color);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo-container-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-title {
    margin-left: auto;
    font-size: 40px;
}

.delete-project {
    margin-left: auto;
    margin-right: 20px;
}

.delete-project:hover {
    animation: wiggle 0.7s linear infinite;

}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }    

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.edit-project {
    margin-left: 10px;
}

.edit-project:hover {
    animation: wiggle 0.7s linear infinite;
}

.cards {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 200px;
    grid-auto-rows:minmax(200px,auto);
    gap: 30px;
    padding: 30px;
    padding-top: 12px;
    max-height: 650px;
    overflow-y: auto;
}

.card {
    background-color: rgb(230, 230, 230);
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    transition: all 0.15s ease-in;
}

.card:hover {
    background-color: rgb(209, 209, 209);
}

.card-add {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in, color 0.1s;
}

.card-add:hover {
    background-color: black;
    color: white;
}

.card-title {
    font-weight: bold;
}

p.card-title, p.card-text, p.card-deadline {
    pointer-events: none;
    overflow: hidden; 
}

